.center-textt {
    text-align: center;
    display: flex;
    color: #000000;
    padding: 5px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: bold;
    font-size: 40px;
}

/* Контенерот ќе биде флексибилен за различни големини на екрани */
.container {
    margin: 50px auto; /* Центрирај го контентерот */
    padding: 30px; /* Внатрешен простор */
    max-width: 900px; /* Максимална ширина */
    width: 100%; /* Ширината е 100% за помалите екрани */
}

.card-form {
    font-size: 20px;
    padding: 30px; /* Внатрешен простор за картата */
    margin: 0; /* Отстранување на маргината */
}

.button23 {
    width: 100%; /* Ширина од 100% за копчето */
}
