.custom-navbar {
    background-color: #0083ca; /* Сина боја на позадината */
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link,
.custom-navbar .navbar-toggler {
    color: white; /* Бел текст */
}

.custom-navbar .navbar-toggler-icon {
    background-color: white; /* Бела боја на иконата за менување на навигацијата */
}

/* Home линкот да биде bold */
.custom-navbar .navbar-brand {
    font-weight: bold;
}
