.center-text {
    text-align: center;
    display: flex;
    color: #0083ca;
    padding: 60px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: bold;
    font-size: 50px;
}


.card{

    padding: 20px;
    margin: 20px;
}